@media (prefers-color-scheme: dark) {
    body {
        background: #223;
        color: #FFF;
    }

    hr {
        border: none;
        border-top: solid 1px #AAA;
    }

    a:link { color: #9f86c4; }
    a:visited { color: #6f5694; }
    a:hover { color: #4f3674; }
}

@media (prefers-color-scheme: light) {
    body {
        background: #FFF;
        color: 000;
    }

    hr {
        border: none;
        border-top: solid 1px #555;
    }

    a:link { color: #4f3674; }
    a:visited { color: #7f66a4; }
    a:hover { color: #4f3674; }
}



body {
    font-family: sans-serif;
    margin-top: 3em;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 3em;

    font-size: 16px;
}

p {
    font-weight: 400;
    line-height: 1.4em;
}

h1 {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-weight: 500;
    text-align: left;
    padding-top: 15px;
}

hr {
    margin-top: 3em;
    margin-bottom: 1em;
}

address {
    text-align: center;
}

a {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.25em;
    padding: 4px;
}

a:hover {
    background: #D6A800;
}

.sentence {
    font-style: italic;
}

.intro {
    text-indent: 2em;
}
